<!-- content -->
<div class="content">
  <div class="container">
    <h3 class="title wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s" ><%=h t('.welcome').html_safe %></h3>
    <p class="con-para wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s"><%=h t(".select_follow_options") %></p>
    <div class="content-grids ">

      <div class="col-md-3 wel-grid text-center wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
        <a href="lost/new">
        <div class="btm-clr4">
          <span></span>
          <figure class="icon">
            <img src=<%= asset_path 'icon2.png' %> alt=" " />
          </figure>
          <h4><%=h t(".i_lost_my_pet") %></h4>
        </div>
        </a>
      </div>

      <div class="col-md-3 wel-grid btm-gre text-center wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
        <a href="found/new">
        <div class="btm-clr4 btm-clr1">
          <span></span>
          <figure class="icon">
            <img src=<%= asset_path 'icon1.png' %> alt=" " />
          </figure>
          <h4><%=h t(".i_found_a_pet") %></h4>
        </div>
        </a>
      </div>

      <div class="col-md-3 wel-grid text-center wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
        <a href="/lost">
        <div class="btm-clr4 btm-clr1">
          <span></span>
          <figure class="icon">
            <img src=<%= asset_path 'icon4.png' %> alt=" " />
          </figure>
          <h4><%=h t(".i_want_to_adopt") %></h4>
        </div>
        </a>
      </div>

      <div class="col-md-3 wel-grid btm-gre text-center wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
        <a href="/communities/index">
        <div class="btm-clr btm-clr3">
          <span></span>
          <figure class="icon">
            <img src=<%= asset_path 'bone.png' %> alt=" " />
          </figure>
          <h4><%=h t(".community") %></h4>
        </div>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //content -->
