<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<div class="header wow fadeInDown animated" data-wow-delay=".5s">
  <div class="text-center" >
    <a href=<%= root_path %> ><img class="" style="width: auto; height: 175px;" src=<%= asset_path 'logomascotas.png' %> alt=" " /></a>
    <h1>Amuleto</h1>
  </div>
   <div class="clearfix">
</div>
<!-- content -->
<div >
  <%= render partial: "recent_add"  %>
</div>

<div >
  <%= render partial: "carousel"  %>
</div>

<div >
  <%= render partial: "grid_services"  %>
</div>

<!-- //content -->


