<footer class="bottom">
 <div class="col-md-12">
    <hr>
   <!--/Login -->
    <div class="pull-right">
    <% if user_signed_in? %>
     <%= link_to 'Log out', destroy_user_session_path, :method=>'delete', class: "glyphicon glyphicon-user", title: "&nbsp; Cerrar sesión" %></a>
      <% else%>
      <%= link_to t(".login"),  new_user_session_path, class: "active glyphicon glyphicon-user" %>
    <% end %>
    </div>
   <!--/login -->

    <div class="container hidden-xs">
      <div class="text-center" >
        <%=h t(".made_in") %><a href="https://github.com/rumblex/rubyrampage2016-nivelr"> Ruby </a> <%=h t(".with") %> <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>  <%=h t(".by") %> <span><a href="https://plus.google.com/communities/103833788001935557125">NivelR</a></span>
      </div>
      <br>
      <%=h t(".improve_me") %><a href="https://github.com/rumblex/rubyrampage2016-nivelr "> GitHub</a>. <%=h t(".template_base") %><a href="http://w3layouts.com/">W3layouts. </a>
    </div>

   <div class="container visible-xs">
     <p class="pull-left"><%=h t(".power_by") %> <a href="https://github.com/rumblex/rubyrampage2016-nivelr">Amuleto</a> - <time datetime="2016-10-23">2016</time></p>
   </div>
 </div>
</footer>